/dataSources/
/modules/
/shelf/
/sonarlint/

/ats-arguments.iml
/checkstyle-idea.xml
/codestream.xml
/compiler.xml
/dataSources.local.xml
/dataSources.xml
/discord.xml
/git_toolbox_blame.xml
/gradle.xml
/intellij-javadocs-4.0.1.xml
/jarRepositories.xml
/jpa-buddy.xml
/misc.xml
/modules.xml
/uiDesigner.xml
/workspace.xml
